<div class="list-container">
  <h2>Veículos Cadastrados</h2>

  <div class="table-responsive">
    <table id="lista" class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Modelo</th>
        <th>Chassi</th>
        <th>Fabricação</th>
        <th>Placa</th>
        <th>Vendido</th>
        <th>Quilometragem</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="8">Carregando...</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <button onclick="location.hash = '#/form'" class="btn btn-primary">Novo Veículo</button>
  </div>

  <div id="mensagem" class="message"></div>
</div>